{{ define "main" }}
<div id="home-center">
        <div class="title-section">
        <h2></h2>
        <img class="main-img" src="Duke_University_fly_over.jpg" />
        <h1 id="home-title">{{ .Site.Title }}</h1>
        

        {{- with .Site.Params.homeSubtitle }}
        <p id="home-subtitle">{{.}}</p>
        {{- end }}
        
        {{- with .Site.Params.social }}
        <div id="home-social">
            {{ partialCached "social-icons.html" . }}
        </div>
        {{- end }}
    </div>

</div>
<div id="home-content">
    <div class="home-content-section">
        <a id="about" style="position:absolute; top:-60px;"></a>
        <h2>About</h2>
        <img class="about-avatar" src="avatar.jpg" />
        {{ partial "about.html" . }}
    </div>

    <div class="home-content-section">
        <a id="projects" style="position:absolute; top:-60px;"></a>
        <h2>Projects</h2>
        {{ partial "projects.html" . }}
    </div>

    </div>
</div>
{{ end }}